<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <h1><%= budgets.name %></h1>
        <h3>Date</h3>
        <h6><%=budgets.date %></h6>
        <h3>Name</h3>
        <h6><%= budgets.name %></h6>
        <h3>From</h3>
        <h6><%= budgets.from %></h6>
        <h3>Amount</h3>
        <h6><%= budgets.amount %></h6>
        <h3>Tags</h3>
        <h6><%= budgets.tags %></h6>
        <button>
            <a href="/budgets">Back to Index</a>
        </button>
        

    </div>

    


</body>
</html>